/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 24, 2023, 4:42:24 PM
    Author     : Wai Loc
*/

.orderBox {
    display: flex;
    background-color: #f6b26b;
    margin: 1rem;
    
}

.orderDetails {
    margin-left: 0;
    margin-right: auto;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.orderStatus {
    margin-left: auto;
    margin-right: 1rem;
    padding: 10px;
}

body { background-color: #E8D4B2 !important;}

.SuccessBox {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #24CB69;
    color: white;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    align-items: center;
}

.FailedBox {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #FF1E1E;
    color: white;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    align-items: center;
}

.DivClose {
    position: relative;
    cursor: pointer;
    float: right;
    padding: 0px;
    font-weight: 600;
    font-size: 20px;
}