/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 1, 2023, 8:01:19 PM
    Author     : Pua
*/

body{
    overflow-x: hidden;
}

.voucherAmtTxt{
    margin: 15px;
    font-size: 20px;
}

.rounded-pill{
    background-color: black;
}

.vouchersSelectionTab{
    margin-top: 25px;
    border-bottom: 1px solid gray;
}

.nav-item button{
    color: black;
}

.nav-link:focus, .nav-link:hover {
    color: gray;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: black;
}

.voucherHeader{
    background: lightgray;
}

.btnDelete{
    background: lightcoral;
    color: #000;
    padding: 4px 8px;
    border: 1px solid #000;
    height: 40px;
    border-radius: 7px;

    &:hover{
        background: red;
        border: 1px solid #000;
    }
}